<header class="fixed-header">
    <div class="profile-photo">
      <img src="..\assets\Emir Tukozoglu.jpg" alt="Ma Photo">
    </div>
    <div class="profile-info">
      <p><span>Emir  TUKÖZOĞLU</span></p>
      <h1>Développeur Fullstack<br> Java Angular</h1>
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">À propos</a></li>
        <li><a href="/realisations">Réalisations</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  