<footer class="footer_container__eYhjo">
    <div class="footer_contact__3Lx_P">
        <div class="footer_infos__1tL0x">
            <div class="icon_wrapper">
                <i aria-hidden="true" class="send big icon"></i>
                <a href="mailto:tukozogluster@gmail.com">
                    <img class="icon1" src="/assets/send.png" alt="Send" />
                </a>
            </div>
            <div><a href="mailto:tukozogluster@gmail.com">tukozogluster@gmail.com</a></div>
        </div>
        <div class="footer_infos__1tL0x">
            <div class="icon_wrapper">
                <i aria-hidden="true" class="phone big icon"></i>
                <a href="tel:+33771670464">
                    <img class="icon2" src="/assets/phone.png" alt="Phone" />
                </a>
            </div>
            <div><a href="tel:+33665348771">06 65 34 87 71</a></div>
        </div>
        <div class="footer_infos__1tL0x">
            <div class="icon_wrapper">
                <i aria-hidden="true" class="map big icon"></i>
                <img class="icon3" src="/assets/location.png" alt="Location" />
            </div>
            <div class="location_text">Paris</div>
        </div>
    </div>
    <div class="footer_socialMedias__3RwYR">
        <div class="footer_socialIcon__3FQYq"><a href="https://github.com/etukozoglu">
            <img class="github-icon" src="/assets/github.png"></a></div>
        <div class="footer_socialIcon__3FQYq"><a href="https://www.linkedin.com/in/emir-tukozoglu/">
            <img class="linkedin-icon" src="/assets/linkedin.png">
        </a></div>
    </div>
    <br>
    <div style="text-align:center;color:#fff">Conçu dans Figma et codé dans Visual Studio Code. Construit avec Html, CSS
        et Angular JS, déployé avec Ionos. Tout le texte est défini dans la police de caractères Lato.</div>
</footer>
