<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="description" content="Emir Tuközoğlu, Développeur Fullstack spécialisé Java Angular...">
    <meta name="title" content="Emir Tuközoğlu - Développeur Fullstack Java Angular à Paris">
    <meta name="robots" content="index, follow">
    <title>A propos de moi | Emir TUKÖZOĞLU - Développeur Java</title>
</head>

<body>
    <div class="about-me">
        <div class="title">
            <h3>A propos de moi</h3>
            <p class="subtitle1">Pour un peu mieux me connaitre</p>
        </div>

        <div class="presentation">
            <img class="image-emir" src="../assets/Emir Tukozoglu.jpg" alt="Emir Tukozoglu" role="img">
            <div class="presentation-text">
                <h4 class="title2">Qui suis-je ?</h4>
                <h3 class="subtitle2">Développeur Java Angular passionné par les nouvelles technologies Javascript</h3>
                <p>Développeur Fullstack Java Angular basé à Paris, je vous accompagne dans la réalisation de vos projets
                    d'applications avec React. Veritable passionné par le monde du web je suis en constante recherche de
                    performance et d'amélioration et je vous apporterai mon envie et mon sens du travail bien fait !</p>
                <p>Faisons connaissance et faites moi confiance dans vos futurs projets ou venez voir quelques-uns de mes
                    projets <a href="/realisations">ici</a>.</p>
                <div class="divider"></div>
                <div class="infos">
                    <div><span>Nom :</span> Emir Tuközoğlu</div>
                    <div><span>E-mail : </span><a href="mailto:tukozogluster@gmail.com">tukozogluster@gmail.com</a></div>
                    <div><span>Âge :</span> 33</div>
                    <div><span>Langues parlées : </span> français, anglais, turc et un poquito español</div>
                    <div><span>Ville :</span> Paris</div>
                </div>
            </div>
        </div>

        <section class="contact-me_container__1yzXi">
            <div class="contact-me_bg__1j2pk">
                <div class="contact-me_contactText__2bfOb">
                    <div class="contact-me_workTogether">Travaillons ensemble!</div>
                    <div>Parlez-moi de votre projet</div>
                </div><a href="/contact">
                    <div class="button_container"
                        style="background-color: rgb(220, 53, 69); color: rgb(255, 255, 255);">Contactez-moi</div>
                </a>
            </div>
        </section>


        <section class="section_container__2NVtm background-light">
            <h3>Mes compétences</h3>
            <p class="subtitle3">Ma stack technique de prédilection</p>
            <div class="skills_container__TvqaX">
                <div class="card_card__2K3F4" style="background-color:#e34c26">
                    <div class="card_icon__3ACDG"><img src="/assets/html.png" alt="HTML" /></div>
                    <h4>HTML</h4>
                </div>
                <div class="card_card__2K3F4" style="background-color:#004AE1">
                    <div class="card_icon__3ACDG"><img src="/assets/css.png" alt="CSS" /></div>
                    <h4>CSS</h4>
                </div>

                <div class="card_card__2K3F4" style="background-color:#e9d44d">
                    <div class="card_icon__3ACDG"><img src="/assets/javascript.svg" alt="Javascript" /></div>
                    <h4>Javascript</h4>
                </div>
                <div class="card_card__2K3F4" style="background-color:#2f74c0">
                    <div class="card_icon__3ACDG"><img src="/assets/typescript.svg" alt="Typscript" /></div>
                    <h4>Typescript</h4>
                </div>
                <div class="card_card__2K3F4" style="background-color:#f7f7f7">
                    <div class="card_icon__3ACDG"><img src="/assets/java.png" alt="Java" /></div>
                    <h4 style="color: #333">Java</h4>
                </div>
                <div class="card_card__2K3F4" style="background-color:#6AAD3D">
                    <div class="card_icon__3ACDG"><img src="/assets/spring_boot.png" alt="Spring Boot" /></div>
                    <h4>Spring Boot</h4>
                </div>
                <div class="card_card__2K3F4" style="background-color:#f7f7f7">
                    <div class="card_icon__3ACDG"><img src="/assets/MySQL.png" alt="MySQL" /></div>
                    <h4 style="color: #333">MySQL</h4>
                </div>
                <div class="card_card__2K3F4" style="background-color:#6F11EF">
                    <div class="card_icon__3ACDG"><img src="/assets/bootstrap.png" alt="Bootstrap" /></div>
                    <h4>Bootstrap</h4>
                </div>
            </div>
        </section>

    </div>
</body>

<app-footer></app-footer>

</html>
