
body {
    margin-left: 272px;
    background-color:#f7f7f7;
    margin-left: 272px; /* Garder la marge gauche pour le menu latéral */
    width: calc(100% - 272px); /* Ajuster la largeur du contenu */
}


.section_container__2NVtm h3 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.section_container__2NVtm p {
    font-size: 1rem;
    color: #dc3545;
    font-weight: 700;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 70px;
    text-align: center;
    margin-bottom: 20px;
}

h6 {
    color: #dc3545;
    font-weight: 700;
}



/* Styles pour la section container */
.section_container__2NVtm {
    padding: 3rem;
}

/* Styles pour le titre de la section */
.section_container__2NVtm h4 {
    font-size: 24px;
    margin: 0;
}

/* Styles pour le sous-titre de la section */
.section_container__2NVtm p {
    font-size: 14px;
}

/* Styles pour la grille de portefolio */
#projectSection {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 40px;
    padding: 3rem;
}


.card_title__3Y-6- {
    margin-bottom: 15px; /* Espacement entre le titre et le haut de la carte */
    font-size: 24px;
    text-align: center;
}

/* Styles pour une carte de portefolio */
.portfolio_card__CpuOu {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    min-width: 300px;
    text-align: center;
    margin: 20px;
}

/* Styles pour l'image de la carte */
.card_image__12345 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Styles pour le contenu au survol */
.card_hover__20WoO {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    padding: 1rem;
}

/* Styles pour le contenu au survol affiché */
.portfolio_card__CpuOu:hover .card_hover__20WoO {
    opacity: 1;
}

/* Styles pour le contenu au survol */
.card_hoverContent__3o-MB {
    text-align: center;
}

/* Styles pour le bouton "En voir plus" */
.button_container__2kL7U {
    background-color: #dc3545;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 50px;
}

/* Styles pour le bouton "En voir plus" au survol */
.button_container__2kL7U:hover {
    background-color: #c82333;
}

.portfolio_bottom__wVXXW {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

/* Cacher les expériences après "Magicways" */
.hidden-project {
    display: none;
}

/* Styles pour le bouton "En voir plus" au survol */
#showMoreButton:hover {
    background-color: #c82333;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    list-style: none;
    text-align: left;

  }
  
  ul li:before {
    content: '✓ ';
  }

  .portfolio_grid__2-4kd {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    color: #000;
  }

/* Styles for mobile */
@media (max-width: 768px) {

    body {
        margin-left: 0;
        max-width: 100%;
    }

    /* Réorganiser le contenu de la section de portefolio */
    #projectSection {
        grid-template-columns: 1fr; /* Afficher une seule colonne */
        grid-gap: 20px; /* Réduire l'espace entre les cartes */
        padding: 1rem; /* Réduire le padding */
        margin-bottom: 20px; /* Réduire la marge inférieure */
    }

    /* Centrer les titres et sous-titres */
    .card_title__3Y-6-,
    h5 {
        text-align: center;
    }

    /* Ajuster la taille des titres */
    .card_title__3Y-6- {
        font-size: 20px;
        margin-bottom: 10px; /* Ajouter un espace entre le titre et le haut de la carte */
    }

    h5 {
        font-size: 1.2rem;
        margin-top: 20px; /* Réduire l'espace au-dessus du titre */
        margin-bottom: 10px; /* Ajouter un espace en dessous du titre */
    }

    /* Centrer les cartes et leur contenu */
    .portfolio_card__CpuOu,
    .portfolio_grid__2-4kd {
        margin: 0 auto; /* Centrer horizontalement */
        text-align: center; /* Centrer le contenu */
    }

    /* Ajuster la taille de l'image */
    .card_image__12345 img {
        max-width: 100%;
        height: auto;
    }

    /* Réduire la taille des boutons */
    .button_container__2kL7U {
        padding: 0.3rem 0.8rem;
        font-size: 14px;
    }

    /* Centrer le bouton "En voir plus" */
    .portfolio_bottom__wVXXW {
        justify-content: center;
    }

    /* Réduire la marge inférieure des cartes */
    .portfolio_card__CpuOu,
    .portfolio_grid__2-4kd {
        margin-bottom: 20px;
    }

    /* Centrer les listes à puces */
    ul {
        text-align: center;
    }

    /* Ajuster l'espacement des puces */
    ul li {
        margin-bottom: 5px;
    }
}
