<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/styles.css">
    <meta name="description" content="Emir Tuközoğlu, Développeur Fullstack spécialisé Java Angular...">
    <meta name="title" content="Emir Tuközoğlu - Développeur Fullstack Java Angular à Paris">
    <meta name="robots" content="index, follow">
    <title>Accueil | Emir TUKÖZOĞLU - Développeur Java</title>
</head>

<body>
    <div class="caroussel-image">
        <img src="../assets/bg-hero.jpg" alt="Background Image" class="header-image">
        <div class="caroussel-content">
            <h2><strong>Emir</strong> TUKÖZOĞLU</h2>
            <h3 class="dynamic-text">Développeur <span class="dynamic-role" id="dynamicRole">Fullstack</span></h3>
        </div>
    </div>


    <section class="section_container__2NVtm background-light">
        <h3>Mes compétences</h3>
        <p class="subtitle1">Ma stack technique de prédilection</p>
        <div class="skills_container__TvqaX">

            <div class="card_card__2K3F4" style="background-color:#e34c26">
                <div class="card_icon__3ACDG"><img src="/assets/html.png" alt="HTML" /></div>
                <h4>HTML</h4>
            </div>
            <div class="card_card__2K3F4" style="background-color:#004AE1">
                <div class="card_icon__3ACDG"><img src="/assets/css.png" alt="CSS" /></div>
                <h4>CSS</h4>
            </div>

            <div class="card_card__2K3F4" style="background-color:#e9d44d">
                <div class="card_icon__3ACDG"><img src="/assets/javascript.svg" alt="Javascript" /></div>
                <h4>Javascript</h4>
            </div>
            <div class="card_card__2K3F4" style="background-color:#2f74c0">
                <div class="card_icon__3ACDG"><img src="/assets/typescript.svg" alt="Typscript" /></div>
                <h4>Typescript</h4>
            </div>
            <div class="card_card__2K3F4" style="background-color:#f7f7f7">
                <div class="card_icon__3ACDG"><img src="/assets/java.png" alt="Java" /></div>
                <h4>Java</h4>
            </div>
            <div class="card_card__2K3F4" style="background-color:#6AAD3D">
                <div class="card_icon__3ACDG"><img src="/assets/spring_boot.png" alt="Spring Boot" /></div>
                <h4>Spring Boot</h4>
            </div>
            <div class="card_card__2K3F4" style="background-color:#f7f7f7">
                <div class="card_icon__3ACDG"><img src="/assets/MySQL.png" alt="MySQL" /></div>
                <h4>MySQL</h4>
            </div>
            <div class="card_card__2K3F4" style="background-color:#6F11EF">
                <div class="card_icon__3ACDG"><img src="/assets/bootstrap.png" alt="Bootstrap" /></div>
                <h4>Bootstrap</h4>
            </div>
        </div>
    </section>

    <section class="contact-me_container__1yzXi">
        <div class="contact-me_bg__1j2pk">
            <div class="contact-me_contactText__2bfOb">
                <div class="contact-me_workTogether">Travaillons ensemble!</div>
                <div>Parlez-moi de votre projet</div>
            </div>
            <a href="/contact">
                <div class="button_container" style="background-color: rgb(220, 53, 69); color: rgb(255, 255, 255);">
                    Contactez-moi</div>
            </a>
        </div>

    </section>
</body>

<app-realisations></app-realisations>

</html>